<div class="top">
</div>
<div class="firstdiv">


<div id="projects" >
 
 
 <div id="project_title">
 
  <h2> Good Quotes- Android app</h2><br>
 
 	<p class="textfont"> I developed this simple android application (under the alias BlackFruitApps) using the API provided by <a href="http://www.forismatic.com/en/">Forismatic.com</a>. The application provides a simple
 	user interface to read a random quote. If a user likes it, they can save it on their phone by clicking on the save quote button. I used Android's database(SQLite) to save all the quotes. The user will have the option to delete
 	the saved quote as well.  If a user likes a quote they can share the quote either as a text or as a screenshot using a built-in quote capture button.</p> 
  <p class="textfont"><a href="https://play.google.com/store/apps/details?id=com.blackfruit.goodquotes">Playstore</a> || <a href="https://www.youtube.com/watch?v=dibVegldzTE">Demo</a></p>
  <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'> Android Application.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java(Client Side) & Python(Server Side). </td></tr>
  <tr><td>Libraries used: </td><td class='tablespace'> achartEngine (front-end), NLTK (back-end). </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>Data was in real time, Used Amazon S3 to store word cloud images.</td></tr>
  <tr><td></td><td class='tablespace'><a href="https://github.com/sagarlakhia/FindOut">GitHub</a> <a href="https://www.youtube.com/watch?v=6fo9uE9pKm0">Demo</a></td></tr>
  </table>
  
     
   -->     
       </div><br>
 
 
 
 
 <div id="project_title">
 
  <h2> FindOut-The Sentiment Analysis App</h2><br>
 
 	<p class="textfont"> I along with four other teammates developed a Sentiment Analysis Android application. The application would read people's tweets regarding each
 	presidential candidates. We would run our analysis on those tweets and would try to find out whether the tweet
 	is positive, negative or a neutral(using NLTK library on back end). We would then render the result from the back end
 	and show the data in terms of graphs (pie chart for positive, negative and neutral tweets and line chart to show his positive trend over a period).
 	Also we would generate a word cloud(Used Amazon S3 to store a wordcloud for each day). </p> 
  <p class="textfont"><a href="https://github.com/sagarlakhia/FindOut">GitHub</a> || <a href="https://www.youtube.com/watch?v=6fo9uE9pKm0">Demo</a></p>
  <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'> Android Application.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java(Client Side) & Python(Server Side). </td></tr>
  <tr><td>Libraries used: </td><td class='tablespace'> achartEngine (front-end), NLTK (back-end). </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>Data was in real time, Used Amazon S3 to store word cloud images.</td></tr>
  <tr><td></td><td class='tablespace'><a href="https://github.com/sagarlakhia/FindOut">GitHub</a> <a href="https://www.youtube.com/watch?v=6fo9uE9pKm0">Demo</a></td></tr>
  </table>
  
     
   -->     
       </div><br>
 
 
 
 
 <div id="project_title">
 
  <h2> Small Android Applications</h2><br>
 
 	<p class="textfont"> I love to learn. Since the day I began learning about android, I started making notes with a pen and book
 	Soon I decided to start implementing those concepts because I believe It is important to have an implementation level experience.  
 	Hence I started building up my Github Repository with applications that uses different Android Functionalities. </p>
  <p class="textfont"><a href="https://github.com/sagarlakhia/Android_Projects">GitHub</a></p>
  <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'> Android Application.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java(Client Side) & Python(Server Side). </td></tr>
  <tr><td>Libraries used: </td><td class='tablespace'> achartEngine (front-end), NLTK (back-end). </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>Data was in real time, Used Amazon S3 to store word cloud images.</td></tr>
  <tr><td></td><td class='tablespace'><a href="https://github.com/sagarlakhia/FindOut">GitHub</a> <a href="https://www.youtube.com/watch?v=6fo9uE9pKm0">Demo</a></td></tr>
  </table>
  
     
   -->     
       </div><br>
 
 
 
 
 
 
       <div id="project_title">
 
  <h2> Cloud Projects</h2><br>
 <p class="textfont"> These projects were developed as a part of my course called Cloud Computing along with one teammate.
	Different small applications were developed using different cloud services. Some of the services include
	using Amazon Simple Storage Service(S3), Elastic Compute Cloud(EC2), Elastic Beanstalk , Hadoop, Elastic Cache and
	many more. We also used different libraries like d3.js, Scipy, Numpy, etc in order to achieve our goals.
	Moreover I got to learn Flask Framework and Jinja2-Python template engine during the course period.
	We used Java and Python in these projects. More information can be found on the Github. </p>
	<p class="textfont"><a href="https://github.com/sagarlakhia/CloudProjects">GitHub</a></p>
	<!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'> Projects built using Cloud Services.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java & Python. </td></tr>
  <tr><td>Libraries used: </td><td class='tablespace'>d3.js,Scipy,Numpy and many more. </td></tr>
  <tr><td>Which Services? </td><td class='tablespace'> RDS, Memcache, S3, EBS, EC2, Hadoop, etc. </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>All these projects were completed in just one month in a team of two.</td></tr>
  <tr><td></td><td class='tablespace'><a href="https://github.com/sagarlakhia/CloudProjects">GitHub</a> </td></tr>
  </table>
   -->
     
       
       </div><br>


<div id="project_title" >
 
  <h2> Reverse Engineering Projects</h2><br>
 
 <p class="textfont"> Studied two web applications (Java-Jsps) without any proper documentations. Understood the client requirements,
  Generated the UML diagrams, Understood the code and implemented new features.</p>
  <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'> Web Applications.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java(Servlets & Jsps). </td></tr>
  <tr><td>Goal?: </td><td class='tablespace'>To understand the code without any documentation. </td></tr>
  <tr><td>What did you derive?</td><td class='tablespace'>Artefacts like UML Diagrams.</td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>Made enhancements by adding functionalities and improved design.</td></tr>
  <tr><td></td><td class='tablespace'><a href="#">GitHub</a> </td></tr>
  </table>
   -->
     
       
       </div><br>




<div id="project_title" >
 
  <h2> Augmented Reality</h2><br>
 <p class="textfont"> Using the regular camera , we (I along with a teammate) tried to detect a pattern and project an image as well as a 3D cube on the pattern.
 We used the Opencv and ARMa library to achieve our goal. During this project I learned about kinect 1.8 and 2.0 sdk along with Matlab.
 This project introduced me to all those amazing camera concepts like pin hole model and many more. The programming language used was C++. 
 </p>
 <p class="textfont"><a href="https://github.com/sagarlakhia/Augmented_Reality">GitHub</a></p>
 <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'>Augmented Reality Application.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> C++. </td></tr>
  <tr><td>Libraries used: </td><td class='tablespace'>Opencv and ARMa.</td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>Projected the image on the marker detected by the camera.(Augm.)</td></tr>
  <tr><td></td><td class='tablespace'><a href="https://github.com/sagarlakhia/Augmented_Reality">GitHub</a></td></tr>
  </table>
  
  -->    
       
       </div><br>


<div id="project_title" >
 
  <h2>Android Projects</h2><br>
 
 <p class="textfont"> I was amazed to see the results of my first android app. That lead me to dig more in android and as a result, 
 I'm always excited to learn more about android. I try to learn new things myself through online resources and 
 I like to maintain my work so i keep updating my repository with new projects that I work on. Right now
  there are simple projects that deals with the basics of android but hopefully after I learn these concepts I'll be 
  able to start developing more complex applications.</p>
  <p> <a href="https://github.com/sagarlakhia/Android_Projects">GitHub</a></p>
  <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'> Different small Android Applications.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java.</td></tr>
  <tr><td>What's special?: </td><td class='tablespace'> Fundamentals of Android. </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'> I love android. I keep updating my repo with basic exciting projects.</td></tr>
  <tr><td></td><td class='tablespace'> <a href="https://github.com/sagarlakhia/Android_Projects">GitHub</a></td></tr>
  </table>
  
   -->   
       
       </div><br>

<div id="project_title" >
 
  <h2> Data Mining Projects</h2><br>
 
 <p class="textfont"> This was the first time I worked on dealing with big data. The course introduced me to different Mining concepts.
 Projects include Job prediction, Association rule, Finding K-Nearest neighbor and SVM.</p>
 <!-- 
  <table>
  <tr><td>What is it?</td><td class='tablespace'>Programs that include data mining.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'>Java. </td></tr>
  <tr><td>Goal?: </td><td class='tablespace'> To understand how mining works. </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'>Job Prediction, Association rule, K-Nearest neighbor and SVM.</td></tr>
  <tr><td></td><td></td></tr>
  </table>
  --> 
     
       
       </div><br>



<div id="project_title" >
 
  <h2> 1st Placements</h2><br>
 <p class="textfont"> My first ever application during my undergrad. Developed a web application with Hibernate Framework.
 Used Web technologies like HTML,CSS,JQuery,JSPs,etc. The main idea was to develop a web application which deals
 with creating Job Opportunities among alumni and current students. It also had extra functionalities like
 Blog posting, Quizzes and profiles. Used MySQL database.
 </p><!-- 
 
  <table>
  <tr><td>What is it?</td><td class='tablespace'>Web Application developed with Hibernate Framework.</td></tr>
  <tr><td>Programming Language: </td><td class='tablespace'> Java(Servlets/Jsps/HTML/Css/JQuery...). </td></tr>
  <tr><td>Other Details: </td><td class='tablespace'>Job Opportunities among alumni and current students. </td></tr>
  <tr><td>Other Notes:</td><td class='tablespace'> Blogs, Job Posting, Quizes, Profile and used MYSQL database.</td></tr>
  <tr><td></td><td> </td></tr>
  </table>
  
  -->    
       
       </div><br>



</div>

<!-- 
<div id="scrollArea" ng-controller="ScrollController">
  <a ng-click="gotoBottom()">Go to bottom</a>
   -->
   
  <div id="goToTop" ng-controller="TopController">
  <p class="textfont" style="text-align:center;"><button class="btn btn-primary btn-lg" ng-click="gotoTop()"   >Go to Top</button></p>
  </div>
 </div>